@model Searcher.Models.SearchModel
@{
    ViewBag.Title = "Searcher - Поиск по сохраненный результатам";
}
<div class="searcher-main">
    <div class="inner">
        <h2>Поиск по сохраненным результатам</h2>
        @Html.Partial("_SeachInResultsBox")
    </div>
</div>